#convert {
    max-height: 600px;
}

#result .tabs.row {
    position: relative;
    z-index: 1000;
    background-color: white;
    padding-bottom: 20px;
}

#search-result {
    position: relative;
    z-index: 1000;
    background-color: white;
    padding-bottom: 100px;
}

#selectTab a {
    padding: 10px;
}

#selectTab.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #f0f0f0;
    border-color: #dee2e6 #dee2e6 #fff;
}

#myTabContent .tab-pane.active {
    background-color: #f0f0f0;
}

#myTabContent table td {
    text-align: left;
    vertical-align: middle;
}

ul#selectTab.nav {
    overflow: hidden;
}

.progress {
    display: flex;
    height: 2rem;
    overflow: hidden;
    font-size: 1.5rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

#result .thumbnail {
    background: unset;
    padding: 0px;
    text-align: center;
    display: block;
    margin: 0;
}

/*#result .thumbnail .img-thumbnail {*/

/*    width: 200px;*/

/*    height: 150px;*/

/*}*/

a {
    color: #227dc7;
    text-decoration: none;
    background-color: transparent;
}

html,
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    color: #4a474c;
    padding: 0;
    background-color: #f8f9fa
}

a:visited,
a:hover,
a:link {
    text-decoration: none !important
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

h1,
h2,
h3 {
    margin: 0
}

.fl {
    float: left
}

ul {
    padding: 0;
    margin: 0;
    list-style: none
}

p {
    margin: 0 0 10px
}

.mag0 {
    margin: 0 !important
}

.magr10 {
    margin-right: 10px
}

.magT40 {
    margin-top: 40px
}

.magT10 {
    margin-top: 10px
}

.relative {
    position: relative
}

.img {
    max-width: 100%
}

.container {
    max-width: 960px;
    margin: 0 auto
}

.container-main {
    background: #fff;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    border-radius: .25rem;
    margin-top: 10px;
    margin-bottom: 10px
}

.flex {
    display: flex
}

.flex-a-i-center {
    align-items: center
}

.center {
    text-align: center
}

html:not(.tab-outline) *:focus {
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

.language {
    float: right;
    position: absolute;
    z-index: 1002;
    right: 40px;
    cursor: pointer
}

.ftco-section {
    padding: 30px 20px 30px
}

h1.title,
h2.title,
h3.title {
    font-weight: 600;
    font-size: 29px;
    margin-bottom: 15px
}

.search-form {
    margin: 28px 0 25px
}

.search-form>div {
    width: 68%;
}

.search-form input {
    width: 100%;
    border: 2px solid #4e5a87;
    box-sizing: border-box;
    border-radius: 12px;
    height: 56px;
    padding: 17px 20px;
    font-size: 14px
}

.search-form .btn-red {
    margin-left: 10px
}

.btn-red,
.btn-gray {
    background: #227dc7;
    -webkit-box-shadow: 0 5px 15px 5px rgba(34, 125, 199, .42);
    box-shadow: 0 5px 15px 5px rgba(34, 125, 199, .42);
    border-radius: 12px;
    padding: 18px 40px;
    display: inline-block;
    border: none;
    color: #fdfdfe;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s
}

.btn-red:hover {
    background: #4a474c;
    color: #fff;
    box-shadow: none
}

.listitem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 2rem 0;
    text-align: left
}

.listitem li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 3rem
}

.listitem li .post-content h3 {
    margin-bottom: .5rem;
    font-weight: 600
}

.listitem li .post-content img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px
}

.listitem li .post-content p {
    line-height: 20px;
    margin-bottom: 0
}

@media only screen and (min-width: 992px) {
    .listitem {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .listitem li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%
    }
}

.bg1 {
    background: #d2e3fc
}

.bg2 {
    background: #fad2cf
}

.bg3 {
    background: #ceead6
}

.bg4 {
    background: #feefc3
}

.bg5 {
    background: #ffd5ec
}

.bg6 {
    background: #d1f4ff
}

ul.listicon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0
}

ul.listicon li:not(:last-child) {
    margin-right: 25px
}

ul.listicon li img {
    width: 110px;
    height: 110px;
}

.mw70 {
    max-width: 700px;
    margin: 0 auto
}

ul.liststep {
    flex-wrap: nowrap;
    max-width: 100%
}

ul.liststep li {
    display: table;
    width: 33.33333%
}

ul.liststep li .number {
    font-weight: 600;
    font-size: 45px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    display: table;
    background: #d2e3fc;
    color: #4285f4;
    text-align: center;
    margin-right: 20px
}

ul.listicon li:nth-child(2n) .number {
    background: #fad2cf;
    color: #ed6357
}

ul.listicon li:nth-child(3n) .number {
    background: #ceead6;
    color: #34a853
}

ul.liststep li span {
    text-align: left;
    display: table-cell;
    vertical-align: middle
}

.contact {
    border-top: 1px solid #dfdfdf;
    padding: 60px 0;
    margin-top: 20px
}

.contact .container {
    max-width: 840px;
    text-align: center
}

.contact-form {
    text-align: left;
    margin: 50px 0 20px
}

.form-control {
    background: #fafafa;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 6px;
    color: #666;
    font-size: 13px;
    padding: 20px
}

textarea.form-control {
    width: 100%;
    resize: none;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif
}

input.form-control {
    height: 56px;
    width: 38.333333%;
    margin-right: 10px
}

.btn-gray {
    background: #dfdfdf;
    border-radius: 6px;
    color: #4a474c;
    box-shadow: none;
    font-weight: 400;
    padding: 18px 60px;
    margin: 0
}

.btn-gray:hover {
    background: #f00;
    color: #fff
}

.copyright {
    background: #f5f5f5;
    color: #fff;
    padding: 15px 0;
    text-align: center
}

.copyright ul {
    justify-content: center
}

.copyright ul a,
.copyright ul p {
    color: #6c757d;
    font-weight: 500;
    display: inline-block;
    padding: 0 25px;
    margin: 0
}

.sub-language.show-language .sub_menu {
    transform: scale(1);
    visibility: visible;
    opacity: 1
}

.sub_menu {
    position: absolute;
    background: #fff;
    width: 230px;
    border: 1px solid #f4f4f4;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    top: 30px;
    right: 0;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .14);
    border-radius: 5px
}

.sub_menu li a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-align: left
}

.sub_menu a:hover {
    background: #eaeaea;
    color: #0066a5 !important
}

.listvideo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px
}

.listvideo li {
    max-width: 31.222%;
    margin: 0 3% 30px 0;
    width: 31.222%
}

.listvideo li a:hover .content h3 {
    color: #f00
}

.listvideo li:nth-child(3n) {
    margin-right: 0
}

.listvideo li .img-thumb {
    height: 168px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    border-radius: 7px;
    width: 100%;
    object-fit: cover
}

.listvideo li .content {
    display: table;
    margin-top: 10px
}

.listvideo li .content .avarta,
.thumbnail .content .avarta {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: table;
    margin-right: 15px
}

.listvideo li .content .clearfix {
    display: table-cell;
    vertical-align: top;
    text-align: left
}

.listvideo li .content h3,
.thumbnail .content h3 {
    color: #333;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px
}

.listvideo li .content p {
    color: #666;
    font-size: 13px;
    margin-bottom: 0
}

.line {
    border-bottom: 1px solid #dfdfdf
}

.thumbnail {
    background: #e9ecef;
    border-radius: 14px;
    padding: 20px;
    text-align: left;
    display: flex;
    margin: 28px 0 25px
}

.thumbnail .content {
    display: flex;
    margin-left: 20px
}

.thumbnail img {
    border-radius: 7px;
    width: 300px;
    height: 150px;
    z-index: 999
}

#result .tabs img {
    width: 360px;
    height: 240px;
}

table.table-bordered tr td {
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 15px;
    color: #333;
    text-align: left;
    font-size: 14px
}

.btn-gray-small,
.btn-blue-small,
.btn-white-small {
    background: #e8e8e8;
    border-radius: 6px;
    border: none;
    width: 150px;
    padding: 10px 0;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    transition: all .3s
}

.btn-gray-small:hover {
    background: #f00;
    color: #fff
}

.btn-blue-small {
    background: #27ae60;
    color: #fff
}

.btn-blue-small:hover {
    background: #0f9949
}

.btn-white-small {
    background: #fff;
    border: 1px solid #e8e8e8;
    color: #2879fe;
    font-weight: 400
}

.btn-white-small:hover {
    background: #2879fe;
    color: #fff
}

.mesg-convert {
    background: #2196f3;
    border-radius: 6px;
    padding: 9px 20px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap
}

.success {
    background: #0f9949
}

.mesg-convert.success {
    padding: 9px 50px
}

a.success {
    color: #fff;
    font-weight: 600;
    font-size: 13px
}

table.table-bordered tr td:first-child {
    width: 40%
}

table.table-bordered tr td:nth-child(2n) {
    width: 20%
}

table.table-bordered tr td:last-child {
    width: 40%
}

.items-more li {
    margin-bottom: 30px
}

.error {
    border: 1px solid #ffdd57;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    background: #ffdd57;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto
}

@media only screen and (max-width: 640px) {
    .error {
        width: auto
    }
}

.error p {
    color: rgba(0, 0, 0, .7);
    margin: 0
}

.error p a {
    text-decoration: underline !important;
    color: rgba(0, 0, 0, .7)
}

.magT10 .error {
    margin: 0
}

.h1-title {
    font-size: 18px;
    margin-bottom: 5px
}

.privacy p {
    font-size: 16px;
    line-height: 24px;
    color: #000
}

.privacy ul {
    list-style: disc;
    padding-left: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #000
}

.privacy ul li {
    margin-bottom: 5px
}

.form-control-small {
    padding: 10px;
    margin-right: 10px !important
}

.form-control-small {
    display: block;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOTIuNCIgaGVpZ2h0PSIyOTIuNCI+PHBhdGggZmlsbD0iIzAwN0NCMiIgZD0iTTI4NyA2OS40YTE3LjYgMTcuNiAwIDAgMC0xMy01LjRIMTguNGMtNSAwLTkuMyAxLjgtMTIuOSA1LjRBMTcuNiAxNy42IDAgMCAwIDAgODIuMmMwIDUgMS44IDkuMyA1LjQgMTIuOWwxMjggMTI3LjljMy42IDMuNiA3LjggNS40IDEyLjggNS40czkuMi0xLjggMTIuOC01LjRMMjg3IDk1YzMuNS0zLjUgNS40LTcuOCA1LjQtMTIuOCAwLTUtMS45LTkuMi01LjUtMTIuOHoiLz48L3N2Zz4=), linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%
}

.form-control-small::-ms-expand {
    display: none
}

.form-control-small:hover {
    border-color: #888
}

.form-control-small:focus {
    color: #222;
    outline: none
}

.form-control-small option {
    font-weight: 400
}

@media only screen and (max-width: 780px) {
    .container {
        margin: 0
    }
    .language {
        right: 15px;
        z-index: 1002;
    }
    .search-form>div {
        width: 100%;
    }
    .search-form>div .dropdown-menu {
        margin-top: 75px;
    }
    .search-form input {
        width: 100%
    }
    .listitem,
    ul.liststep,
    .listvideo {
        display: block
    }
    ul.liststep li {
        width: 100%
    }
    .search-form .btn-red {
        width: 100%;
        margin: 10px 0 0
    }
    ul.listicon {
        margin: 20px 0 0
    }
    ul.listicon li {
        margin: 0 10px 2% !important
    }
    .ftco-section {
        padding: 30px 5px 0
    }
    h1.title,
    h2.title,
    h3.title {
        font-size: 19px
    }
    .contact {
        padding: 30px 0
    }
    input.form-control {
        width: 100%;
        margin: 0 0 10px
    }
    .btn-gray {
        width: 100%
    }
    ul.listicon li img {
        max-width: 85px;
        width: 85px;
        height: 85px;
    }
    .listvideo li {
        max-width: 100%;
        width: 100%;
        margin: 0 0 20px;
        display: flex
    }
    .listvideo li .img-thumb {
        height: auto;
        width: 120px;
        margin-right: 15px;
        float: left
    }
    .listvideo li .content {
        margin-top: 0
    }
    .listvideo li .content .avarta,
    .thumbnail .content .avarta {
        display: none
    }
    .nowidth {
        width: auto;
        margin-bottom: 40px
    }
    .thumbnail img {
        max-width: 100%;
        width: 100%
    }
    table.table-bordered tr td {
        padding: 10px 5px
    }
    table.table-bordered tr td:first-child {
        width: 30%;
        text-align: left !important
    }
    table.table-bordered tr td:nth-child(2n) {
        width: 30%
    }
    table.table-bordered tr td:last-child {
        width: 40%;
        text-align: right
    }
    table.table-bordered tr td .magr10 {
        margin: 0 0 10px
    }
    .thumbnail {
        padding: 15px;
        display: block
    }
    .thumbnail .content {
        display: block;
        margin-left: 0
    }
    .thumbnail .content h3 {
        font-size: 16px;
        padding-top: 5px
    }
    .detail .form-control {
        display: block;
        width: 100%;
        margin-bottom: 10px
    }
    .mesg-convert {
        display: block;
        text-align: center
    }
}

@media only screen and (max-width: 380px) {
    .container {
        margin: 0
    }
    .copyright ul a {
        padding: 0 10px
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 16px;
    height: 13px
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    margin: 0;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 2.1s linear infinite
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

#loader-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: 0 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#loader-wrapper .loader-section {
    position: relative;
    top: 0;
    width: 51%;
    height: 100%;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

#loader-wrapper .loader-section.section-left {
    left: 0
}

#loader-wrapper .loader-section.section-right {
    right: 0
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1)
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1)
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s 1s ease-out;
    transition: all .3s 1s ease-out
}

.nopading {
    padding-bottom: 0
}

.detail .form-control.hidden,
.hidden {
    display: none
}

.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 40px solid transparent
}

.caret.down {
    border-top-color: #fff
}

.caret.right {
    border-left-color: #000
}

.caret.up {
    border-bottom-color: #000
}

.caret.left {
    border-right-color: #000
}

header#navbar {
    background: #4e5a87
}

.topnav {
    overflow: hidden
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 15px
}

/*.active {*/

/*    background-color: #4caf50;*/

/*    color: #fff*/

/*}*/

.topnav .icon {
    display: none
}

.dropdown {
    float: left;
    overflow: hidden;
    cursor: pointer
}

.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1003;
    margin-bottom: 10px
}

.dropdown-content a {
    float: none;
    color: #000;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: #fff
}

.topnav .nav-logo a {
    color: #fff;
    font-size: 20px;
    padding: 12px
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #000
}

.topnav .nav-item {
    float: right
}

.cl-red {
    color: #f00
}

.tips {
    margin-top: 5px
}

.tips img {
    max-width: 100%;
    height: auto
}

@media screen and (max-width: 900px) {
    .topnav .nav-item a,
    .dropdown .dropbtn {
        display: none
    }
    .topnav .nav-item {
        width: 100%
    }
    .topnav a.icon {
        float: right;
        display: block
    }
    .topnav.responsive {
        position: relative
    }
    .dropdown-content {
        background: #4e5a87;
        box-shadow: none;
        padding-left: 20px
    }
    .topnav.responsive a {
        color: #fff
    }
    .dropdown-content a:hover {
        background-color: #313f73
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left
    }
    .topnav.responsive .dropdown {
        float: none
    }
    .topnav.responsive .dropdown-content {
        position: relative
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.extension {
    display: none;
    position: fixed;
    bottom: 14px;
    right: 0;
    z-index: 1200;
    width: 220px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .19);
    background: #c10841;
    transform: translateZ(0)
}

.extension.is-rolledUp {
    margin-right: 20px;
    border-radius: 5px;
    animation: extRollUp 2.6s ease-in-out
}

@media (min-width: 1025px) {
    .extension {
        display: block;
        animation: extAppear .8s ease-in-out
    }
}

.extension-header {
    padding: 5px 10px;
    font-size: 0;
    line-height: 0
}

.is-init .extension-header {
    border-radius: 0;
    background: 0 0
}

.is-rolledUp .extension-header {
    border-radius: 5px;
    background: #c10841;
    animation: extRollUpHeader 2.6s ease-in-out
}

.is-rolledUp--half .extension-header {
    animation: none;
    transition: all .78s ease-in-out .78s
}

.is-superCollapsed .extension-header,
.is-rolledDown .extension-header {
    padding: 6px;
    border-radius: 5px 0 0 5px;
    animation: extRollDownHeader 2.6s ease-in-out
}

.is-superCollapsed .extension-header {
    animation: none
}

.is-rolledDown--half .extension-header {
    animation: extRollDownHeaderHalf 1.95s ease-in-out
}

.extension-headerImgContainer {
    display: inline-block;
    width: 56px;
    height: 60px;
    margin-right: 16px;
    vertical-align: middle;
    line-height: 60px
}

.is-rolledUp .extension-headerImgContainer {
    transition: all 0 ease-in-out .91s
}

.is-superCollapsed .extension-headerImgContainer,
.is-rolledDown .extension-headerImgContainer {
    width: 26px;
    height: 26px;
    margin-right: 0;
    text-align: center;
    line-height: 26px;
    transition: all 0 ease-in-out 1.82s
}

.is-rolledDown--half .extension-headerImgContainer {
    transition: all 0 ease-in-out 1.17s
}

.extension-headerImg {
    max-width: 100%;
    max-height: 100%
}

.extension-headerText {
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 56px - 16px);
    max-height: 150px;
    line-height: 1.25em;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 700
}

.is-rolledUp .extension-headerText {
    transition: all 0 ease-in-out .91s
}

.is-superCollapsed .extension-headerText,
.is-rolledDown .extension-headerText {
    max-height: 0;
    width: 0;
    transition: all 0 ease-in-out 1.82s
}

.is-rolledDown--half .extension-headerText {
    transition: all 0 ease-in-out 1.17s
}

.alert {
    border-radius: 6px;
    margin: 10px auto;
    padding: 10px;
    font-size: 12px
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b
}

.alert-warning a {
    color: #b50808
}

.text-left p img {
    display: block;
    max-width: 100%;
    margin: 0 auto
}

@media (max-width: 480px) {
    .copyright ul li:first-child {
        display: none
    }
    .magT10 .flex {
        display: block
    }
    .addthis_inline_share_toolbox {
        text-align: center
    }
}

div.img-thumb {
    position: relative;
    display: inline-block
}

span.time {
    position: absolute;
    right: 4px;
    bottom: 5px;
    display: inline-block;
    padding: 4px 6px;
    background: rgba(0, 0, 0, .8);
    border-radius: 4px;
    color: #fff;
    font-size: 12px
}

.btn-fb {
    line-height: 20px
}

.mg-r-10 {
    margin-right: 10px
}

.alert-gr {
    width: 80%;
    text-align: center
}

.alert-success {
    background-color: #d4edda;
    border-color: #d4edda;
    color: #155724;
    font-size: 15px
}

.alert-success a {
    color: #2196f3;
    font-size: 15px
}

@media only screen and (max-width: 640px) {
    .alert-gr {
        width: auto
    }
}

.share-button {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    border: none;
    background-color: #29b76b;
    bottom: 80px;
    right: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer
}

.share-button .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem
}

.share-button .icon-sprite {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eshare%3C%2Ftitle%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%23FFFFFF%22%3E%3Cpath%20d%3D%22M26%2C13.4285714%20C26%2C13.6220248%2025.9293162%2C13.7894338%2025.7879464%2C13.9308036%20L20.0736607%2C19.6450893%20C19.932291%2C19.786459%2019.7648819%2C19.8571429%2019.5714286%2C19.8571429%20C19.3779752%2C19.8571429%2019.2105662%2C19.786459%2019.0691964%2C19.6450893%20C18.9278267%2C19.5037195%2018.8571429%2C19.3363105%2018.8571429%2C19.1428571%20L18.8571429%2C16.2857143%20L16.3571429%2C16.2857143%20C15.6279725%2C16.2857143%2014.9750773%2C16.3080355%2014.3984375%2C16.3526786%20C13.8217977%2C16.3973217%2013.2488868%2C16.477306%2012.6796875%2C16.5926339%20C12.1104882%2C16.7079619%2011.6157015%2C16.8660704%2011.1953125%2C17.0669643%20C10.7749235%2C17.2678581%2010.3824423%2C17.5264121%2010.0178571%2C17.8426339%20C9.65327199%2C18.1588557%209.35565592%2C18.534596%209.125%2C18.9698661%20C8.89434408%2C19.4051361%208.71391434%2C19.9203839%208.58370536%2C20.515625%20C8.45349637%2C21.1108661%208.38839286%2C21.7842224%208.38839286%2C22.5357143%20C8.38839286%2C22.9449425%208.40699386%2C23.4025272%208.44419643%2C23.9084821%20C8.44419643%2C23.9531252%208.45349693%2C24.0405499%208.47209821%2C24.1707589%20C8.4906995%2C24.3009679%208.5%2C24.3995532%208.5%2C24.4665179%20C8.5%2C24.5781256%208.46837829%2C24.6711306%208.40513393%2C24.7455357%20C8.34188956%2C24.8199408%208.25446484%2C24.8571429%208.14285714%2C24.8571429%20C8.02380893%2C24.8571429%207.9196433%2C24.7938994%207.83035714%2C24.6674107%20C7.77827355%2C24.6004461%207.72991094%2C24.5186017%207.68526786%2C24.421875%20C7.64062478%2C24.3251483%207.59040206%2C24.2135423%207.53459821%2C24.0870536%20C7.47879436%2C23.9605648%207.43973225%2C23.87128%207.41741071%2C23.8191964%20C6.47246551%2C21.6986501%206%2C20.0208395%206%2C18.7857143%20C6%2C17.3050521%206.19717065%2C16.0662252%206.59151786%2C15.0691964%20C7.79688103%2C12.0706695%2011.0520568%2C10.5714286%2016.3571429%2C10.5714286%20L18.8571429%2C10.5714286%20L18.8571429%2C7.71428571%20C18.8571429%2C7.52083237%2018.9278267%2C7.35342333%2019.0691964%2C7.21205357%20C19.2105662%2C7.07068382%2019.3779752%2C7%2019.5714286%2C7%20C19.7648819%2C7%2019.932291%2C7.07068382%2020.0736607%2C7.21205357%20L25.7879464%2C12.9263393%20C25.9293162%2C13.067709%2026%2C13.2351181%2026%2C13.4285714%20L26%2C13.4285714%20Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform .4s ease;
    border-radius: 50%;
    display: block
}

.share-button i.icon {
    display: table-cell;
    height: 2em;
    width: 2em
}